---
---
<div>
  <a href="https://www.linkedin.com/in/juan-vertiz/"><svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" fill="currentColor" version="1.1"><path d="M22.20001220703125,0L1.79998779296875,0C0.805877685546875,0,0,0.8058853149414062,0,1.8000030517578125L0,22.199996948242188C0,23.194114685058594,0.805877685546875,24,1.79998779296875,24L22.20001220703125,24C23.194122314453125,24,24,23.194114685058594,24,22.199996948242188L24,1.8000030517578125C24,0.8058853149414062,23.194122314453125,0,22.20001220703125,0ZM7.20001220703125,20.400001525878906L3.600006103515625,20.400001525878906L3.600006103515625,9.599998474121094L7.20001220703125,9.599998474121094ZM5.399993896484375,7.5C4.24859619140625,7.4670867919921875,3.338592529296875,6.5128173828125,3.360382080078125,5.361137390136719C3.382171630859375,4.209465026855469,4.32757568359375,3.290283203125,5.47943115234375,3.3009414672851562C6.63128662109375,3.3116073608398438,7.559539794921875,4.2481231689453125,7.55999755859375,5.400001525878906C7.540283203125,6.575004577636719,6.575103759765625,7.51336669921875,5.399993896484375,7.5ZM20.399993896484375,20.400001525878906L16.79998779296875,20.400001525878906L16.79998779296875,14.712005615234375C16.79998779296875,13.00799560546875,16.079986572265625,12.396003723144531,15.14398193359375,12.396003723144531C14.5897216796875,12.432899475097656,14.072998046875,12.68914794921875,13.70819091796875,13.108024597167969C13.34332275390625,13.52691650390625,13.16046142578125,14.07391357421875,13.20001220703125,14.628005981445312C13.19403076171875,14.683837890625,13.19403076171875,14.740158081054688,13.20001220703125,14.796005249023438L13.20001220703125,20.400001525878906L9.600006103515625,20.400001525878906L9.600006103515625,9.599998474121094L13.079986572265625,9.599998474121094L13.079986572265625,11.160003662109375C13.793853759765625,10.074089050292969,15.02117919921875,9.437705993652344,16.32000732421875,9.480003356933594C18.17999267578125,9.480003356933594,20.35198974609375,10.512001037597656,20.35198974609375,13.871994018554688Z" /></svg></a>
  <a href="https://github.com/juan-vertiz/"><svg viewBox="0 0 98 96" width="98" height="96" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor"/></svg></a>
</div>
<style>
  div {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  svg {
    color: white;
    width: 24px;
    height: 24px;
  }

  a {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }
</style>
