---
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/Header.astro';

const { pageTitle, activeItem } = Astro.props;
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator}>
  <title>{pageTitle}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <Header activeItem={activeItem} />
  <main>
    <h1>{pageTitle}</h1>
    <slot />
  </main>
</body>
</html>
